* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  margin: 0 auto;
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: #6997a1;
  color: #e2e0dc;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
}

h1 {
  cursor: pointer;
  font-size: 6rem;
}

h2 {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

li {
  font-size: 1.4rem;
  text-align: start;
  line-height: 1.6;
}

button,
a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  color: #e2e0dc;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}

a:hover,
a:active {
  color: #fa9500;
}

button:hover,
button:active {
  border-color: #007aff;
}

.heading,
.title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  opacity: 0.6;
}

.title {
  padding-left: 2rem;
  opacity: 1;
}

a:active,
button:active {
  transform: translateY(1px);
}

@media (max-width: 42em) {
  .link {
    font-size: 1.2rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 52%;
  }

  .code {
    font-size: 8rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .link {
    font-size: 1.8rem;
  }
}
