* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: #6997a1;
  color: #e2e0dc;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
}

h1 {
  cursor: pointer;
  font-size: 6rem;
}

h2 {
  /* text-transform: uppercase; */
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  opacity: 0.6;
}

.container {
  overflow: hidden;
  width: 37rem;
  background-color: #242424f3;
  border-radius: 8px;
  padding: 2.4rem;
  box-shadow: 0 4rem 5rem rgba(86, 4, 97, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value input {
  outline: none;
  border: none;
  text-align: center;
  color: #e2e0dc;
  background-color: #4f5963;
  font-size: 6rem;
}

.margin {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem auto -1rem;
}

.margin input {
  cursor: pointer;
  opacity: 0.7;
}

.btn {
  display: flex;
  gap: 1rem;
}

button,
a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  color: #e2e0dc;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}

a:hover,
a:active {
  color: #fa9500;
}

button:hover,
button:active {
  border-color: #007aff;
}

a:active,
button:active {
  transform: translateY(1px);
}

@media (max-width: 42em) {
  .link {
    font-size: 1.2rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 52%;
  }

  .code {
    font-size: 8rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .link {
    font-size: 1.8rem;
  }
}
